<template>
  <v-app dark>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <v-img
          alt="YourDrawingSockets"
          contain
          max-height="40"
          :src="require('./assets/icon.svg')"
        />
        <v-img
          alt="YourDrawingSockets"
          class="hidden-sm-and-down"
          max-width="180"
          :src="require('./assets/wordmark.svg')"
        />
      </div>

      <v-spacer></v-spacer>

      <v-btn icon @click="toggleMic">
        <v-icon v-if="micMuted">mdi-microphone-off</v-icon>
        <v-icon v-else>mdi-microphone</v-icon>
      </v-btn>
      <v-btn icon @click="toggleCam" :disabled="dataSaver">
        <v-icon v-if="cameraMuted">mdi-video-off</v-icon>
        <v-icon v-else>mdi-video</v-icon>
      </v-btn>
      <v-btn icon @click="toggleDataSaver">
        <v-icon v-if="dataSaver">mdi-speedometer-slow</v-icon>
        <v-icon v-else>mdi-speedometer</v-icon>
      </v-btn>
      <v-btn icon @click="darkToggle">
        <v-icon>mdi-brightness-6</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <v-progress-linear
        indeterminate
        color="secondary"
        :active="loading"
      ></v-progress-linear>
      <GameView v-if="gameIsSetUp" />
      <SetupWizard v-else />
    </v-main>
    <Notification />
    <DoneOverlay />
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import SetupWizard from "@/views/setup/SetupWizard.vue";
import GameView from "@/views/GameView.vue";
import Notification from "@/views/Notification.vue";
import DoneOverlay from "@/views/DoneOverlay.vue";

export default Vue.extend({
  name: "App",

  components: {
    SetupWizard,
    GameView,
    DoneOverlay,
    Notification
  },

  data: () => ({
    //
  }),

  methods: {
    darkToggle() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
    },
    toggleMic() {
      this.$store.dispatch("toggleMic");
    },
    toggleCam() {
      this.$store.dispatch("toggleCam");
    },
    toggleDataSaver() {
      this.$store.dispatch("toggleDataSaver");
    }
  },

  computed: {
    loading() {
      return this.$store.state.loading;
    },
    gameIsSetUp() {
      return this.$store.getters.setupComplete;
    },
    micMuted() {
      return this.$store.state.micMuted;
    },
    cameraMuted() {
      return this.$store.state.cameraMuted;
    },
    dataSaver() {
      return this.$store.state.dataSaver;
    }
  },

  async mounted() {
    await this.$store.dispatch("ensureServerConnection");

    // Detect browser dark theme
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      this.$vuetify.theme.dark = true;
    }
  }
});
</script>
