<template>
  <div>
    <v-bottom-navigation
      :value="tabSelection"
      v-model="tabSelection"
      color="secondary"
      horizontal
    >
      <v-btn>
        <span>Join group</span>
        <v-icon>mdi-account-multiple</v-icon>
      </v-btn>
      <v-btn>
        <span>Create group</span>
        <v-icon>mdi-account-multiple-plus</v-icon>
      </v-btn>
    </v-bottom-navigation>

    <v-progress-linear
      v-if="tabSelection === 0"
      indeterminate
    ></v-progress-linear>

    <!-- Join group -->
    <v-container v-if="tabSelection === 0">
      <v-card-title>Select a group to join</v-card-title>
      <v-container max-height="500">
        <v-list>
          <v-list-item-group
            v-model="groupSelection"
            color="primary"
            value="undefined"
          >
            <v-list-item
              v-for="group in availableGroups()"
              :key="group.uuid.value"
            >
              <v-list-item-content>
                <v-list-item-title
                  v-if="group.other_players.length + 1 < group.max_players"
                  v-text="group.name"
                >
                </v-list-item-title>
                <v-list-item-title v-else v-text="'[FULL] ' + group.name">
                </v-list-item-title>
                <v-list-item-subtitle
                  >Created by {{ group.leader.name }}</v-list-item-subtitle
                >
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-container>

      <v-container>
        <v-btn
          color="primary"
          @click="existingGroupSelected"
          :loading="loading"
          :disabled="
            groupSelection < 0 || groupSelection === undefined || loading
          "
        >
          Join group
        </v-btn>
      </v-container>
    </v-container>

    <!-- New group -->
    <v-container v-if="tabSelection === 1">
      <v-card-title>Create a new group</v-card-title>
      <v-form
        ref="form"
        v-model="newGroupFormValid"
        @submit="newGroupFormSubmit"
      >
        <v-container>
          <v-text-field
            label="Group name"
            :rules="rules.name"
            v-model="newGroupForm.name"
            hide-details="auto"
          ></v-text-field>
        </v-container>
        <v-container>
          <v-text-field
            label="Max group members"
            type="number"
            :rules="rules.max_players"
            v-model="newGroupForm.max_players"
            hide-details="auto"
          ></v-text-field>
        </v-container>
        <v-container>
          <v-text-field
            label="Amount of rounds"
            type="number"
            :rules="rules.min_rounds"
            v-model="newGroupForm.min_rounds"
            hide-details="auto"
          ></v-text-field>
        </v-container>
        <v-container>
          <v-select
            v-model="newGroupForm.word_list_id"
            :items="possibleWordLists"
            :menu-props="{ maxHeight: '400' }"
            :rules="rules.word_list_id"
            label="Select"
            hint="Pick list of words"
            persistent-hint
          ></v-select>
        </v-container>
        <v-container v-if="newGroupForm.word_list_id === 'custom'">
          <v-textarea
            label="Custom words list"
            hint="Every line is one guessable word."
            persistent-hint
            :rules="rules.word_list"
            v-model="newGroupForm.custom_words"
          ></v-textarea>
        </v-container>

        <v-container>
          <v-btn
            color="primary"
            :disabled="!newGroupFormValid"
            @click="newGroupFormSubmit"
          >
            Create new group
          </v-btn>
        </v-container>
      </v-form>
    </v-container>
  </div>
</template>

<script lang="ts">
import {
  Group,
  GroupInfo,
  MAX_PLAYERS,
  MIN_PLAYERS
} from "../../../../lib/src/data/group";
import { store } from "@/store";
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import { UnregisteredGroup } from "../../../../lib/src/data/group";
import { Uuid } from "../../../../lib/src/data/uuid";
import { DEFAULT_SETS, MIN_ROUNDS } from "../../../../lib/src/data/game";
import { words_in_text } from "../../../../lib/src/utils";

@Component({
  components: {}
})
export default class GroupSelection extends Vue {
  @Prop()
  groupSelected!: (selection: Uuid) => void;
  @Prop()
  groupCreated!: (creation: UnregisteredGroup) => void;

  get possibleWordLists(): string[] {
    return [...DEFAULT_SETS.keys()].concat(["custom"]);
  }

  get loading(): boolean {
    return this.$store.getters.isLoading;
  }

  rules = {
    name: [(value: string) => value.length > 0 || "Required"],
    max_players: [
      (value: string) =>
        (!isNaN(Number(value)) &&
          Number(value) >= MIN_PLAYERS &&
          Number(value) <= MAX_PLAYERS) ||
        `Enter a number from ${MIN_PLAYERS} up to ${MAX_PLAYERS}`
    ],
    min_rounds: [
      (value: string) =>
        (!isNaN(Number(value)) && Number(value) >= MIN_ROUNDS) ||
        `Enter a number greater than or equal to ${MIN_ROUNDS}`
    ],
    word_list_id: [(value: string) => this.possibleWordLists.includes(value)],
    word_list: [(value: string) => value.length > 0 || "Required"]
  };

  newGroupForm = {
    name: "",
    max_players: 2,
    min_rounds: MIN_ROUNDS,
    word_list_id: "",
    custom_words: "" // requires processing
  };
  newGroupFormValid = false;

  tabSelection = 0;

  availableGroups: () => GroupInfo[] = () => {
    return this.$store.state.lobby;
  };
  groupSelection: number = -1;

  parseCustomWords(): string[] {
    return words_in_text(this.newGroupForm.custom_words);
  }

  newGroupFormSubmit() {
    if (this.newGroupFormValid) {
      const gameConfig = {
        number_of_rounds: this.newGroupForm.min_rounds,
        words:
          this.newGroupForm.word_list_id === "custom"
            ? this.parseCustomWords()
            : this.newGroupForm.word_list_id
      };

      this.groupCreated({
        name: this.newGroupForm.name,
        leader: this.$store.state.player.name,
        max_players: this.newGroupForm.max_players,
        game_config: gameConfig
      });
    }
  }

  existingGroupSelected() {
    if (this.groupSelection !== undefined) {
      // Find the selected group
      let selection = this.availableGroups()[this.groupSelection];

      if (
        selection !== undefined &&
        selection.other_players.length + 1 < selection.max_players
      ) {
        this.groupSelected(selection.uuid);
      }
    }
  }
}
</script>
