<template>
  <v-form
    ref="form"
    v-model="formValid"
    @submit="submit"
    onSubmit="return false;"
  >
    <v-container>
      <v-toolbar-title>Tell us a little about yourself</v-toolbar-title>

      <v-text-field
        label="Your name"
        v-model="form.name"
        :rules="rules.name"
        required
      ></v-text-field>
    </v-container>

    <v-container>
      <v-btn
        color="secondary"
        elevation="2"
        :disabled="!formValid"
        @click="submit"
      >
        Create player
      </v-btn>
    </v-container>
  </v-form>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { ConnectionHandler } from "../../data/sockets/ConnectionHandler";

@Component({
  components: {}
})
export default class NameEntry extends Vue {
  @Prop()
  callback!: (player: string) => void;
  selection = 0;
  updateSelection(newVal: number) {
    this.selection = newVal;
  }

  form = {
    name: ""
  };

  rules = {
    name: [(value: string) => !!value || "Required"]
  };

  formValid = false;

  submit() {
    if (this.formValid) {
      if (this.callback == null) {
        throw "Please add a callback to the NameEntry";
      }
      this.callback(this.form.name);
    }
  }
}
</script>
