<template>
  <v-container fill-height>
    <v-stepper alt-labels class="mx-auto" v-model="currentStep">
      <v-stepper-header>
        <v-stepper-step :complete="currentStep > 1" step="1">
          Player
        </v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step :complete="currentStep > 2" step="2">
          Group
        </v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step step="3">
          Go!
        </v-stepper-step>
      </v-stepper-header>

      <v-stepper-items>
        <v-stepper-content step="1">
          <NameEntry :callback="nameStepDone" />
        </v-stepper-content>

        <v-stepper-content step="2" id="groupselectionbox">
          <GroupSelection
            id="groupselection"
            :groupCreated="groupCreated"
            :groupSelected="groupSelected"
          />
        </v-stepper-content>

        <v-stepper-content step="3">
          <WaitingScreen id="waitingscreen" />
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </v-container>
</template>

<script lang="ts">
import NameEntry from "./NameEntry.vue";
import GroupSelection from "./GroupSelection.vue";
import WaitingScreen from "./WaitingScreen.vue";
import {
  Group,
  GroupInfo,
  UnregisteredGroup
} from "../../../../lib/src/data/group";
import { Component, Vue, Watch } from "vue-property-decorator";
import { Uuid } from "../../../../lib/src/data/uuid";

@Component({
  components: { NameEntry, GroupSelection, WaitingScreen }
})
export default class SetupWizard extends Vue {
  currentStep = 1;
  @Watch("$store.state.group")
  groupWatcher(value: GroupInfo | null, _: any) {
    // if the group is set to `null`, we go back to the group selection screen.
    // Happens when the leader leaves, for example.
    if (!value) {
      this.currentStep = 2;
    }
    // if the group is set, after server responded that we can join, we go to the waiting room.
    else {
      this.currentStep = 3;
    }
  }

  nameStepDone(player: string) {
    this.$store.dispatch("setPlayer", player);
    this.$store.dispatch("joinLobby", player);
    this.currentStep = 2;
  }

  groupCreated(group: UnregisteredGroup) {
    this.$store.dispatch("createGroup", group);
  }

  groupSelected(group: Uuid) {
    this.$store.dispatch("joinGroupRequest", group);
  }
}
</script>

<style scoped>
#groupselectionbox {
  padding: 0px;
}
</style>
