<template>
  <v-container>
    <v-toolbar-title v-if="admin === true"
      >Waiting for other players</v-toolbar-title
    >
    <v-toolbar-title v-else>Waiting on leader</v-toolbar-title>
    <p v-if="admin === true">
      Below, you can see a list of all the people in this game.
    </p>

    <p v-else>We're waiting on the admin to start the game.</p>

    <p v-if="admin === true">
      If you're ready, click the button below to start the game.
    </p>

    <v-card tile>
      <v-list v-if="thisPlayer !== null">
        <v-list-item v-for="player in players" :key="player.uuid.value">
          <v-list-item-content>
            <v-list-item-title
              >{{ player.name }}
              <v-chip
                v-if="player.uuid.value === currentAdmin.uuid.value"
                input-value="0"
                filter
                filter-icon="mdi-crown"
                color="orange"
                small
                >Admin
              </v-chip>
              <v-chip
                v-if="player.uuid.value === thisPlayer.uuid.value"
                input-value="0"
                filter
                filter-icon="mdi-account-circle"
                color="primary"
                small
                >You
              </v-chip>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-card>
    <v-btn
      class="primary"
      ref="gameStartBtn"
      v-if="admin === true"
      block
      x-large
      :disabled="!canStart"
      :loading="!canStart"
      @click="gameInit"
      >Start game</v-btn
    >
  </v-container>
</template>

<script lang="ts">
import { Player } from "../../../../lib/src/data/player";
import { Component, Prop, Vue } from "vue-property-decorator";
import { ConnectionHandler } from "../../data/sockets/ConnectionHandler";
import { Uuid } from "../../../../lib/src/data/uuid";
import { MIN_PLAYERS } from "../../../../lib/src/data/group";

@Component({
  components: {}
})
export default class WaitingScreen extends Vue {
  get admin(): boolean {
    return this.$store.getters.isAdmin;
  }
  get players(): Player[] {
    return this.$store.getters.players;
  }
  get thisPlayer(): Player {
    return this.$store.getters.thisPlayer;
  }
  get currentAdmin(): Player {
    return this.$store.getters.adminPlayer;
  }
  get canStart(): boolean {
    return this.players.length >= MIN_PLAYERS && this.startCooldown;
  }

  startCooldown = true;

  gameInit() {
    this.startCooldown = false;
    this.$store.dispatch("clearPeers").then(() => {
      this.$store.dispatch("gameInit");
    });

    setTimeout(() => {
      this.startCooldown = true;
    }, 3000);
  }
}
</script>
