<template>
  <div>
    <v-toolbar>
      <v-btn-toggle v-model="active_drawing_width" mandatory>
        <v-btn :disabled="!allowedToDraw">
          <v-icon>mdi-circle-small</v-icon>
        </v-btn>
        <v-btn :disabled="!allowedToDraw">
          <v-icon>mdi-circle-medium</v-icon>
        </v-btn>
        <v-btn :disabled="!allowedToDraw">
          <v-icon>mdi-circle</v-icon>
        </v-btn>
      </v-btn-toggle>

      <v-spacer />

      <v-btn-toggle v-model="active_drawing_color" mandatory>
        <v-btn :disabled="!allowedToDraw">
          <v-icon>mdi-eraser</v-icon>
        </v-btn>
        <v-btn :disabled="!allowedToDraw" class="grey--text">
          <v-icon color="black">mdi-circle</v-icon>
        </v-btn>
        <v-btn :disabled="!allowedToDraw" class="red--text">
          <v-icon color="red">mdi-alpha-r-circle</v-icon>
        </v-btn>
        <v-btn :disabled="!allowedToDraw" class="orange--text">
          <v-icon color="orange">mdi-alpha-o-circle</v-icon>
        </v-btn>
        <v-btn :disabled="!allowedToDraw" class="yellow--text">
          <v-icon color="yellow accent-4">mdi-alpha-y-circle</v-icon>
        </v-btn>
        <v-btn :disabled="!allowedToDraw" class="green--text">
          <v-icon color="green">mdi-alpha-g-circle</v-icon>
        </v-btn>
        <v-btn :disabled="!allowedToDraw" class="blue--text">
          <v-icon color="blue">mdi-alpha-b-circle</v-icon>
        </v-btn>
        <v-btn :disabled="!allowedToDraw" class="indigo--text">
          <v-icon color="indigo">mdi-alpha-i-circle</v-icon>
        </v-btn>
        <v-btn :disabled="!allowedToDraw" class="purple--text">
          <v-icon color="purple">mdi-alpha-p-circle</v-icon>
        </v-btn>
      </v-btn-toggle>
    </v-toolbar>
    <v-responsive :aspect-ratio="16 / 9" id="parentCanvas">
      <canvas
        id="mainCanvas"
        ref="mainCanvas"
        style="touch-action: none"
      ></canvas>
    </v-responsive>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";

const COLORS = [
  "#f2f2f2",
  "black",
  "red",
  "orange",
  "yellow",
  "green",
  "steelblue",
  "indigo",
  "purple"
];

const WIDTHS = [1, 2, 5];

// Drawing capability based on https://stackoverflow.com/questions/2368784/draw-on-html5-canvas-using-a-mouse

@Component({})
export default class Canvas extends Vue {
  canvas!: HTMLCanvasElement;
  ctx!: CanvasRenderingContext2D;
  width!: number;
  height!: number;
  currX = 0;
  currY = 0;
  flag = false;
  dot_flag = false;

  get allowedToDraw(): boolean {
    return this.$store.getters.allowedToDraw;
  }

  @Watch("$store.state.game.now_drawing")
  groupWatcher(now: number, prev: number) {
    if (prev !== now) {
      this.ctx.fillStyle = COLORS[0];
      this.ctx.fillRect(0, 0, this.canvas.width, this.canvas.height);
    }
  }

  mounted() {
    this.canvas = document.getElementById("mainCanvas") as HTMLCanvasElement;
    const parentDiv = document.getElementById("parentCanvas")!;
    this.canvas.width = parentDiv.clientWidth;
    this.canvas.height = parentDiv.clientHeight;
    this.width = this.canvas.width;
    this.height = this.canvas.height;

    this.ctx = this.canvas.getContext("2d")!;

    this.ctx.fillStyle = COLORS[0];
    this.ctx.fillRect(0, 0, this.canvas.width, this.canvas.height);

    const onMove = (event: MouseEvent | TouchEvent) => {
      const bounds = this.canvas.getBoundingClientRect();
      if (this.flag && this.allowedToDraw) {
        const prevX = this.currX;
        const prevY = this.currY;

        if ((event as TouchEvent).touches) {
          this.currX = (event as TouchEvent).touches[0].clientX - bounds.left;
          this.currY = (event as TouchEvent).touches[0].clientY - bounds.top;
        } else {
          this.currX = (event as MouseEvent).clientX - bounds.left;
          this.currY = (event as MouseEvent).clientY - bounds.top;
        }

        this.draw(prevX, prevY, this.currX, this.currY);
      }
    };
    const onStart = (event: MouseEvent | TouchEvent) => {
      const bounds = this.canvas.getBoundingClientRect();

      const prevX = this.currX;
      const prevY = this.currY;

      if ((event as TouchEvent).touches) {
        this.currX = (event as TouchEvent).touches[0].clientX - bounds.left;
        this.currY = (event as TouchEvent).touches[0].clientY - bounds.top;
      } else {
        this.currX = (event as MouseEvent).clientX - bounds.left;
        this.currY = (event as MouseEvent).clientY - bounds.top;
      }

      this.flag = true;
    };
    const onEnd = (_: any) => {
      this.flag = false;
    };

    this.canvas.onmousemove = onMove;
    this.canvas.onmousedown = onStart;
    this.canvas.onmouseup = onEnd;
    this.canvas.onmouseout = onEnd;

    this.canvas.ontouchmove = onMove;
    this.canvas.ontouchstart = onStart;
    this.canvas.ontouchend = onEnd;
    this.canvas.ontouchcancel = onEnd;
  }

  receiveDraw(
    normalisedPrevX: number,
    normalisedPrevY: number,
    normalisedCurrX: number,
    normalisedCurrY: number,
    active_drawing_color: number,
    active_drawing_width: number
  ) {
    this.active_drawing_color = active_drawing_color;
    this.active_drawing_width = active_drawing_width;

    this.draw(
      normalisedPrevX * this.width,
      normalisedPrevY * this.height,
      normalisedCurrX * this.width,
      normalisedCurrY * this.height,
      false
    );
  }

  private informPeers(
    prevX: number,
    prevY: number,
    currX: number,
    currY: number
  ) {
    const data = new Float32Array([
      prevX / this.width,
      prevY / this.height,
      currX / this.width,
      currY / this.height,
      this.active_drawing_color,
      this.active_drawing_width
    ]);

    this.$store.dispatch("sendPeers", {
      channel_label: "draw",
      data: data
    });
  }

  private draw(
    prevX: number,
    prevY: number,
    currX: number,
    currY: number,
    informPeers = true
  ) {
    if (informPeers) {
      this.informPeers(prevX, prevY, currX, currY);
    }

    this.ctx.beginPath();
    this.ctx.moveTo(prevX, prevY);
    this.ctx.lineTo(currX, currY);
    this.ctx.strokeStyle = COLORS[this.active_drawing_color];
    this.ctx.lineWidth =
      WIDTHS[this.active_drawing_width] *
      (this.active_drawing_color === 0 ? 2 : 1);
    this.ctx.stroke();
    this.ctx.closePath();
  }

  COLORS() {
    return COLORS;
  }

  drawing_enabled = true;
  active_drawing_width = 1;
  active_drawing_color = 1;
}
</script>

<style scoped>
</style>
