<template>
  <v-overlay :absolute="abs" :value="show">
    <v-card>
      <v-card-title>That's the game!</v-card-title>
      <v-card-text>
        <Scoreboard :showActivePlayer="active_player"></Scoreboard>
      </v-card-text>
    </v-card>
  </v-overlay>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

import Scoreboard from "./components/Scoreboard.vue";

@Component({ components: { Scoreboard } })
export default class DoneOverlay extends Vue {
  abs = true;
  active_player = true;
  show = false;
  done() {
    this.show = true;
  }

  mounted() {
    this.$store.commit("initGameDone", this.done);
  }
}
</script>

<style scoped></style>