<template>
  <v-responsive>
    <v-row no-gutters>
      <v-col order-lg="2">
        <v-sheet>
          <v-app-bar color="accent" dense>
            <v-toolbar-title class="guess_solution_block">{{
              game.now_pattern
            }}</v-toolbar-title>
          </v-app-bar>
        </v-sheet>

        <p>
          Round {{ game.current_round + 1 }} of
          {{ game.config.number_of_rounds }}
        </p>

        <Scoreboard :showActivePlayer="showActivePlayer" />

        <v-form @submit="sendGuess" onSubmit="return false;">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  :disabled="!allowedToAnswer"
                  v-model="current_guess"
                  append-outer-icon="mdi-send"
                  clear-icon="mdi-close-circle"
                  clearable
                  label="Guess"
                  type="text"
                  @click:append-outer="sendGuess"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-col>

      <v-col cols="12" sm="12" md="6" order-lg="1">
        <Canvas ref="canvas"></Canvas>
      </v-col>

      <v-col order-lg="0">
        <v-container>
          <v-list>
            <v-list-item-group color="primary">
              <v-list-item
                v-for="player in otherPlayers"
                :key="player.uuid.value"
              >
                <v-list-item-content>
                  <v-list-item-title
                    v-text="player.name"
                    class="itemtitle"
                  ></v-list-item-title>
                  <div class="controls">
                    <v-btn
                      icon
                      :id="'mute:' + player.uuid.value"
                      @click="toggleSound"
                    >
                      <v-icon v-if="mutedPlayers.includes(player.uuid.value)"
                        >mdi-volume-off</v-icon
                      >
                      <v-icon v-else>mdi-volume-high</v-icon>
                    </v-btn>
                  </div>
                  <video
                    :hidden="dataSaver"
                    :ref="'video:' + player.uuid.value"
                    class="webcamvid"
                  ></video>
                  <audio :ref="'audio:' + player.uuid.value"></audio>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-container>
      </v-col>
    </v-row>
  </v-responsive>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import { Game } from "../../../lib/src/data/game";
import { get_player } from "../../../lib/src/data/group";
import { Player } from "../../../lib/src/data/player";
import { Uuid } from "../../../lib/src/data/uuid";
import Canvas from "./Canvas.vue";
import Scoreboard from "./components/Scoreboard.vue";

@Component({ components: { Canvas, Scoreboard } })
export default class GameView extends Vue {
  showActivePlayer = true;
  current_guess = "";
  mutedPlayers: string[] = [];

  get game(): Game {
    return this.$store.state.game;
  }

  get otherPlayers(): Player[] {
    return (this.$store.getters.otherPlayersOfGroup as Player[]) || [];
  }

  get otherPlayerUuids(): Uuid[] {
    return (
      (this.$store.getters.otherPlayersOfGroup as Player[]).map(
        player => player.uuid
      ) || []
    );
  }

  get dataSaver(): boolean {
    return this.$store.state.dataSaver;
  }

  get allowedToAnswer(): boolean {
    return !this.$store.getters.allowedToDraw;
  }

  @Watch("dataSaver")
  dataSaverWatcher(enabledNow: boolean, wasEnabled: boolean) {
    if (wasEnabled !== enabledNow) {
      this.otherPlayers.forEach((player: Player) => {
        const videoStream =
          (this.$store.getters.videoStreams as Map<string, MediaStream>).get(
            player.uuid.value
          ) || null;
        videoStream
          ?.getVideoTracks()
          .forEach(track => (track.enabled = !track.enabled));
      });
    }
  }

  // if anyone knows the type of event this is, please fix it.
  // MouseEvent and ClickEvent are wrong. It's probably something obvious tho
  toggleSound(event: any) {
    const uuid = event.currentTarget.id.split(":")[1];

    const mutedPlayersSet = new Set(this.mutedPlayers);
    if (!mutedPlayersSet.delete(uuid)) {
      mutedPlayersSet.add(uuid);
    }
    this.mutedPlayers = [...mutedPlayersSet];

    const audioStream =
      (this.$store.getters.audioStreams as Map<string, MediaStream>).get(
        uuid
      ) || null;
    audioStream?.getAudioTracks().forEach(track => {
      track.enabled = !track.enabled;
    });
  }

  setupVideoStream(player_uuid: Uuid) {
    const videoStream =
      (this.$store.getters.videoStreams as Map<string, MediaStream>).get(
        player_uuid.value
      ) || null;

    const matches = this.$refs["video:" + player_uuid.value] as Element[];
    if (matches) {
      const videoElement = matches[0] as HTMLVideoElement;
      videoElement.srcObject = videoStream;
      if (!this.dataSaver) {
        videoElement.play();
      }
    }
  }

  setupAudioStream(player_uuid: Uuid) {
    const audioStream =
      (this.$store.getters.audioStreams as Map<string, MediaStream>).get(
        player_uuid.value
      ) || null;

    const matches = this.$refs["audio:" + player_uuid.value] as Element[];
    if (matches) {
      const audioElement = matches[0] as HTMLAudioElement;
      audioElement.srcObject = audioStream;
      audioElement.play();
    }
  }

  // TODO: add own video too to show personal stuff
  async mounted() {
    this.otherPlayers.forEach((player: Player) => {
      this.setupVideoStream(player.uuid);
      this.setupAudioStream(player.uuid);
    });

    // bind data streams
    const data_channel_info = new Map();
    data_channel_info.set("draw", (event: MessageEvent) => {
      const data = new Float32Array(event.data);
      // does JS provide a nicer way to do this?
      (this.$refs.canvas as Canvas).receiveDraw(
        data[0],
        data[1],
        data[2],
        data[3],
        data[4],
        data[5]
      );
    });
    this.$store.dispatch("updateDataChannelInfo", data_channel_info);
  }

  sendGuess() {
    this.$store.dispatch("sendGuess", { guess: this.current_guess });
  }
}
</script>

<style scoped>
.guess_solution_block {
  font-family: "Roboto Mono", monospace;
  letter-spacing: 5px;
}
.webcamvid {
  width: 100%;
}
.itemtitle {
  font-size: 1.5rem;
  flex: 1 1 50%;
}
.controls {
  flex: 0 0 auto;
}
</style>
