"<template>
  <v-snackbar v-model="shouldShow" timeout="2000" absolute bottom :color="color"
    >{{ message }}
  </v-snackbar>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";

@Component({})
export default class Notification extends Vue {
  shouldShow = false;

  color = "";
  message = "";

  _serviceCall(message: string, type: string) {
    this.message = message;
    this.color = type;
    this.shouldShow = true;
  }

  mounted() {
    this.$store.commit("initMessageSvc", this._serviceCall);
  }
}
</script>

<style scoped>
</style>
