<template>
  <v-list shaped disabled>
    <v-list-item-group color="primary" v-model="drawingPlayer">
      <v-list-item
        v-for="player_score in scores"
        :key="player_score[0].uuid.value"
      >
        <v-list-item-content>
          <v-list-item-title v-text="player_score[0].name"></v-list-item-title>
          <v-list-item-subtitle v-text="player_score[1]"></v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list-item-group>
  </v-list>
</template>

<script lang="ts">
import { Component, Vue, Watch, Prop } from "vue-property-decorator";

import { Game } from "../../../../lib/src/data/game";
import { Player } from "../../../../lib/src/data/player";

@Component({})
export default class Scoreboard extends Vue {
  @Prop()
  showActivePlayer: boolean = false;

  get game(): Game {
    return this.$store.state.game;
  }

  get players(): Player[] {
    return this.$store.getters.players;
  }

  get scores(): Array<[Player, number]> {
    return (
      this.game.score.map(item => [
        this.players.find(pl => pl.uuid.value === item[0].value)!,
        item[1]
      ]) || []
    );
  }

  get playerNowDrawing(): Player {
    const now_drawing = this.game.score[this.game.now_drawing][0];
    return this.players.find(item => item.uuid.value === now_drawing.value)!;
  }

  get drawingPlayer(): number {
    if (this.showActivePlayer) {
      return this.scores.findIndex(
        item => item[0].uuid.value === this.playerNowDrawing.uuid.value
      );
    } else {
      return -1;
    }
  }
}
</script>

<style scoped></style>